<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" /> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>talkpl.us | Instant Chat On Any Website <?= it.title ?></title>
    <meta name="description" content="Try out our widget in a embedded view" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <?= it.css( it.styles ) ?>
  </head>
  <body>
    <?= it.body ?>
    <?= it.partial( 'common/_scripts' ) ?> 
  </body>
</html>
